<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AddTodo</title>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.css">
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/moment.js"></script>
    <script type="text/javascript" src="/static/js/moment-with-locales.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<h1>新建事项</h1>
    <form action="" method="post">{% csrf_token %}
        <div class="control-group">
            <label class="control-label" for="inputIcon">内容</label>
            <div class="controls">
                <div class="input-prepend">
                    <span class="add-on"><i class="icon-envelope"></i></span>
                    <textarea name="todo"  id="todo"  class="span2" required="required"></textarea>
                </div>
            </div>
        </div>
        <!--<div class="bs-docs-example">
            <p>截止日期</p>
            <input size="16" type="text" value="2017-01-1 00:00"  class="form_datetime" name="expire_date" id="expire_date">
        </div>-->

        <label class="radio inline" for="todo_priority">
                    <input type="radio" name="todo_priority" value="1" checked="checked"/>
                    <span class="label label-success"> 普通事项</span>
        </label>
        <label class="radio inline" for="todo_priority">
                    <input type="radio" name="todo_priority" value="2"/>
                    <span class="label label-warning"> 重要事项</span>
        </label>
        <button id="send"  type="submit" name="submit" class="btn-lg btn-primary" > 新建 </button>
    </form>
</body>
</html>
