<!DOCTYPE html>
{% block todo %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery-3.2.1.min.js"></script>
     <style>.table th, .table td {  text-align: center;
         height:20px}</style>
</head>
<body>
<div class="page-header">
<h1 >TodoList</h1>
</div>
{% csrf_token %}
<h2 class="text-info">未完成</h2>
        <table class="table table-hover">
            <thead>
			<tr>
				<th >优先级</th>
                <th >截止日期</th>
				<th>内容</th>
                <th> </th>
			</tr>
		    </thead>
            <tbody>
            {% for todo in todo_list %}
                <tr class="info">
                    <td>
                        {% if todo.todo_priority == '1' %}<span class="label label-success"> 普通事项</span>{% endif %}
                        {% if todo.todo_priority == '2' %}<span class="label label-warning"> 重要事项</span>{% endif %}
                    </td>
                    <td>{{ todo.expire_date }}</td>
                    <td>{{ todo.todo }}</td>
                    <td>
                        <a class="btn btn-info" href="{% url 'finish' todo.id %}">
                            <span class="glyphicon glyphicon-ok"></span> 已完成</a>
                        <a class="btn btn-info" href="{% url 'update' todo.id %}">
                            <span class="iglyphicon glyphicon-pencil"></span> 编辑</a>
                        <a class="btn btn-info" href="{% url 'delete' todo.id %}">
                            <span class="glyphicon glyphicon-trash"></span> 删除</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
            <!--<div class="pagination">
                <span class="step-links">
                {% if todo_list.has_previous %}
                    <a href="?page={{ todo_list.previous_page_number }}">上一页</a>
                {% endif %}
                    <span class="current">
                        Page {{ todo_list.number }} of {{ todo_list.paginator.num_pages }}.
                    </span>
                    {% if todo_list.has_next %}
                        <a href="?page={{ todo_list.next_page_number }}">下一页</a>
                    {% endif %}
                </span>
            </div>-->
<h2 class="text-success">已完成</h2>
        <table class="table table-hover">
            <thead>
			<tr>
				<th>优先级</th>
                <th>截止日期</th>
				<th>内容</th>
                <th> </th>
			</tr>
		    </thead>
            {% for ftodo in finish_todo %}
                <tr class="success">
                    <td>
                        {% if ftodo.todo_priority == '1' %}<span class="label label-success"> 普通事项</span>{% endif %}
                        {% if ftodo.todo_priority == '2' %}<span class="label label-warning"> 重要事项</span>{% endif %}
                    </td>
                    <td>{{ ftodo.expire_date }}</td>
                    <td>{{ ftodo.todo }}</td>
                    <td>
                        <a class="btn btn-info" href="{% url 'backout' ftodo.id %}">
                            <span class="glyphicon glyphicon-share-alt"></span> 撤销完成</a>
                        <a class="btn btn-info" href="{% url 'update' ftodo.id %}">
                            <span class="iglyphicon glyphicon-pencil"></span> 编辑</a>
                        <a class="btn btn-info" href="{% url 'delete' ftodo.id %}">
                            <span class="glyphicon glyphicon-trash"></span> 删除</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
            <!--<div class="pagination">
                <span class="step-links">
                    {% if finish_todo.has_previous %}
                    <a href="?fpage={{ finish_todo.previous_page_number }}">上一页</a>
                    {% endif %}
                    <span class="current">
                        Page {{ finish_todo.number }} of {{ finish_todo.paginator.num_pages }}.
                    </span>
                    {% if finish_todo.has_next %}
                        <a href="?fpage={{ finish_todo.next_page_number }}">下一页</a>
                    {% endif %}
                </span>
            </div>-->
    <a class="btn btn-lg btn-primary" href="{% url 'add'  %}"><span class="glyphicon glyphicon-plus"></span> 添加一项事项</a>
    <a  href="{% url 'serializer'  %}"><span class="glyphicon glyphicon-plus"></span> 查看serializer</a>

</body>
</html>
{% endblock %}